# project management directories
manage
holding
*/holding
*/*/holding

# misc output formats
*.pptx
*/*.pptx
*.docx
*/*.docx

# LaTeX byproducts
*.tex
*/*.tex
*.toc
*/*.toc
*concordance*
*/*concordance*
*.snm
*/*.snm
*.nav
*/*.nav
*.gz
*/*.gz
*.log
*/*.log
*.aux
*/*.aux
*.out
*/*.out
*.vrb
*/*.vrb

# specific to bookdown
_publish.R
_book
_bookdown_files
rsconnect

# various R things
.Renviron
.Rproj.user
.Rhistory
.RData
.Rapp.history
*-Ex.R
/*.tar.gz
/*.Rcheck/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# Shiny token, see https://shiny.rstudio.com/articles/shinyapps.html
rsconnect/
.Rproj.user
